body {
    background: #220000;
    color: #222222;
    font-family: Helvetica, Verdana, Arial, sans-serif;
}

header {
    background: #DFDFDF;
    border-bottom: #444;
    padding: 20px 50px;
    margin: 0 0 20px;
}

header h1 {
    margin: 0 0 16px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Helvetica, Verdana, Arial, sans-serif;
}


.realms .realm .status {
    border: 1px solid #444;
    margin: 5px;
    border-radius: 5px;
    background: #231207;
    color: #FFFFFF;
}

.realms .realm .icon {
    font-size: 128px;
    margin: 0 auto;
    text-align: center;
    line-height: 128px;
    border-bottom: 1px solid #444;
    padding: 16px 0;
}

.realms .status.down .icon {
    color: #CC3300;
}

.realms .status.up.low .icon {
    color: #33CC33;
}
.realms .status.up.medium .icon {
    color: #ebdba2;
}
.realms .status.up.high .icon, .realms .status.up.full .icon {
    color: #CC3300;
}

.realm .status .name {
    padding: 5px 5px 0;
    font-size:20px;
    font-weight: bold;
    text-align: center;
}

.realm .status .meta {
    text-align: center;
    padding: 0 5px 5px;
}